.note{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.note-box{
    min-width: 150px;
    max-width: 300px;
    min-height: 100px;
    background-color: yellow;
    margin: 5px;
    padding: 5px;
    box-shadow: 3px 4px 5px black;
    font-size: 1em;
}